p {

    color: #000000;
    font-family: verdana;
    font-size: 12px;
    display: inline;
    margin-left: 4px;
    margin-right: 4px;

}

.my_style {

    color: #FF0000;
    font-family: verdana;
    font-size: 20px;
    font-weight: bold;
    display: inline;
    margin-left: 2px;
    margin-right: 2px;

}